/* --------------------------------------- GENERAL STYLES --------------------------------------- */

/* 1. define the text font, size, and color that will apply to the whole page  
/*    ADVANCED: use a font from Google fonts: http://www.google.com/fonts/ */
/* 2. set the page background to a color (ex. #eee for light gray) or to a background image */
/*    if you go the latter route see http://subtlepatterns.com for some nice free background textures */

body {
   /* figure out the font */
   background-color: #eee; /* Done step 2 */

}

/* 3. set the background color of the header to another color (ex. #222 for dark gray) */
/*    if you chose a dark color for the background, set the text color to a lighter color (ex. #fff for white) */
/*    ADVANCED: make the header stay fixed at the top of the page */
header {
    position:fixed;
	width:100%;
	overflow:auto;
	background-color: #000000;
	color:#FFFFFF;
	
}

/* 4. specify the default text color for links (ex. #1fa1fa for a light blue) */
/*    ADVANCED: remove the underline for normal links but make the link become underlined on hover */
a {
	color: #1fa1fa;
}



/*------------------------------------- LAYOUT -------------------------------------------------*/
/* 5. set the width of this div to 1000px and make it centered in the middle of the page  */
/*    ADVANCED: give this div a slight shadow */
#wrapper {
    overflow:auto;
}

/* 6. the content in these divs is flush against the edge, which makes the page crowded. add some extra space */
#sidebar, #main {    

}

/* 7. the sidebar should be on the side. make it appear to the left of the #main div */
/*    if you are not sure how to proceed, see: http://css-tricks.com/all-about-floats/ */
#sidebar {    

}

/*------------------------------------- NAVIGATION -------------------------------------------------*/
/* 8. the navigation links are in a list (<ul>). get rid of the bullet points */
#nav ul {
    padding:0px;
}

/* 9. make the #nav items display horizontally, not vertically */
#nav li {
	
}

/* 10. define how the links in the nav should look. in our example, we changed the text color to white. */
/*     ADVANCED: add a text shadow */
#nav li a {

}

/* 11. give the link for the current page a slightly different style to distinguish it */
/*     you could add/remove underline, change the color... ? */
#nav li a.selected {    

}


/*------------------------------------- IMAGE GRID -------------------------------------------------*/
/* 12. make the images display in a grid */
/*     see http://stackoverflow.com/questions/2562737/what-ways-can-i-put-images-in-a-grid-like-format if you get stuck */

/* 13. add a 1px border to the .image-wrapper divs */
/*     ADVANCED: give the border rounded corners */

.image-wrapper {    

}

/* 14. make all caption text italic */
.caption {  

}

/* 15. by default, a <div> takes up the width of its parent (display:block). Change the "display" property to override this behavior */
/*     see: http://htmldog.com/reference/cssproperties/display/ */
/* 16. give tags a background color */
/*     ADVANCED: make the mouse cursor change on hover to indicate that these are clickable (hover over an <a> tag to see the desired effect) */
.tag {    

}

/* 17. set the font size for each size of tag */
.tag.xsmall {

}

.tag.small {

}

.tag.medium {

}

.tag.large {

}

