/* --------------------------------------- GENERAL STYLES --------------------------------------- */

/* 1. define the text font, size, and color that will apply to the whole page  
/*    ADVANCED: use a font from Google fonts: http://www.google.com/fonts/ */
/* 2. set the page background to a color (ex. #eee for light gray) or to a background image */
/*    if you go the latter route see http://subtlepatterns.com for some nice free background textures */

body {
    background:#eee;
    color:#222;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

/* 3. set the background color of the header to another color (ex. #222 for dark gray) */
/*    if you chose a dark color for the background, set the text color to a lighter color */
/*    ADVANCED: make the header stay fixed at the top of the page */
header {
    background:#222;
    color:#fff;
    padding:10px;
    overflow:auto;
}

/* 4. specify the default text color for links (ex. #1FA1FA for a light blue) */
/*    ADVANCED: remove the underline for normal links but make the link become underlined on hover */
a {
    color:#1FA1FA;
}

/*------------------------------------- LAYOUT -------------------------------------------------*/
/* 5. set the width of this div to 1000px and make it centered in the middle of the page  */
/*    ADVANCED: give this div a slight shadow */
#wrapper {
    background:#fff;
    width:1000px;
    margin: 0 auto;
    overflow:auto;
    box-shadow: 1px 1px 5px #999;
}

/* 6. the content in these divs is flush against the edge, which makes the page crowded. add some extra space */
#sidebar,#main {    
    padding:10px;
}

/* 7. the sidebar should be on the side. make it appear to the left of the #main div */
/*    if you are not sure how to proceed, see: http://css-tricks.com/all-about-floats/ */
#sidebar {    
    float:left;
    width:300px;
}

#main {
    float:left;
    width:660px;
}

/*------------------------------------- NAVIGATION -------------------------------------------------*/
/* 8. the navigation links are in a list (<ul>). get rid of the bullet points and the left indent */
#nav ul {
    list-style-type:none;
    padding:0px;
}

/* 9. make the #nav items display horizontally, not vertically */
#nav li {
    margin-right:10px;
    float:left;
}

/* 10. define how the links in the nav should look. in our example, we changed the text color to white. */
/*     ADVANCED: add a text shadow */
#nav li a {
   color:#fff;
}

/* 11. give the link for the current page a slightly different style to distinguish it */
/*     you could add/remove underline, change the color... ? */
#nav li a.selected {    
    text-decoration:none;
}


/*------------------------------------- IMAGE GRID -------------------------------------------------*/
/* 12. make the images display in a grid */
/*     see http://stackoverflow.com/questions/2562737/what-ways-can-i-put-images-in-a-grid-like-format if you get stuck */

/* 13. add a 1px border to the .image-wrapper divs */
/*     ADVANCED: give the border rounded corners */

.image-wrapper {    
    float:left;
    margin:10px 10px 0px 0px;
    border: 1px solid #ddd;
}

/* 14. make all caption text italic */
.caption {  
    font-style:italic;
}

/* 15. by default, a <div> takes up the width of its parent (display:block). Change the "display" property to override this behavior */
/*     see: http://htmldog.com/reference/cssproperties/display/ */
/* 16. give tags a background color */
/*     ADVANCED: make the mouse cursor change on hover to indicate that these will be clickable */
.tag {    
    background-color:#eee;
    margin-top:5px;
    padding:5px 10px;
    display:inline-block;
}

/* 17. set the font size for each size of tag */
.tag.xsmall {
    font-size:10px;   
}

.tag.small {
    font-size:14px;
}

.tag.medium {
    font-size:18px;
}

.tag.large {
    font-size:22px;
}

