@charset "UTF-8";
/* CSS Document */

body 
{
	background-color: #eee;
}

a
{
	color: #1fa1fa;
	text-decoration: none;	
}

	
#wrapper
{
	border-right: 0px;
	vertical-align: top;
	max-width:1000px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px;
	background-color:#FFF;
	box-shadow:#000;
	
}

header
{
 	background-color: #000;
	color: #FFF;
	padding: 10px;
}

header a
{
	color:#FFF;	
}

a.selected
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;	
}

header ul
{
	list-style-type: none;	
	margin:0px;
	padding:0px;
}

#nav ul li 
{
	display: inline-block;	
	margin-right:5px;
}


#content
{
	padding: 10px;	
	
}

h3
{
	font-size:16px;	
}

#sidebar, #main
{
	display: inline-block;	
	vertical-align:top;
	padding: 5px;
	font-size: 13px;
}

#sidebar
{
	width: 250px;	
}

#main
{
	width: 650px;	
}


.tag
{
	background-color:#DDD;
	display:inline-block;
	padding:5px;	
	margin:1px;
}

.small
{
	font-size:10px;
}


.xsmall
{
	font-size:12px;
}


.medium
{
	font-size:16px;
}

.large
{
	font-size:18px;
}

.image-wrapper
{
	display: inline-block;
	margin: 5px;
	border:1px;
	border-radius:5px;	
}