@import url(http://fonts.googleapis.com/css?family=Bubbler+One);
/* --------------------------------------- GENERAL STYLES --------------------------------------- */
/* 2. set the page background to a color (ex. #eee for light gray) or to a background image */
/*    if you go the latter route see http://subtlepatterns.com for some nice free background textures */

body {
  font-family: 'Bubbler One', sans-serif;

  /* CSS patterns from http://lea.verou.me/css3patterns */
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;

}

header {
    overflow:auto;
    background-color: #123456;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a {
  color: #1fa1fa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*------------------------------------- LAYOUT -------------------------------------------------*/
#wrapper {
    overflow:auto;
    width: 1000px;
    margin: auto auto;
    box-shadow: 1px 1px 5px #ddd;
}

#sidebar, #main {    
  margin: 20px;
}

/* 7. the sidebar should be on the side. make it appear to the left of the #main div */
/*    if you are not sure how to proceed, see: http://css-tricks.com/all-about-floats/ */
#sidebar {    
  float: left;

}

/*------------------------------------- NAVIGATION -------------------------------------------------*/
/* 8. the navigation links are in a list (<ul>). get rid of the bullet points */
#nav ul {
    padding:0px;
}

/* 9. make the #nav items display horizontally, not vertically */
#nav li {

}

/* 10. define how the links in the nav should look. in our example, we changed the text color to white. */
/*     ADVANCED: add a text shadow */
#nav li a {

}

/* 11. give the link for the current page a slightly different style to distinguish it */
/*     you could add/remove underline, change the color... ? */
#nav li a.selected {    

}


/*------------------------------------- IMAGE GRID -------------------------------------------------*/
/* 12. make the images display in a grid */
/*     see http://stackoverflow.com/questions/2562737/what-ways-can-i-put-images-in-a-grid-like-format if you get stuck */

/* 13. add a 1px border to the .image-wrapper divs */
/*     ADVANCED: give the border rounded corners */

.image-wrapper {    

}

/* 14. make all caption text italic */
.caption {  

}

/* 15. by default, a <div> takes up the width of its parent (display:block). Change the "display" property to override this behavior */
/*     see: http://htmldog.com/reference/cssproperties/display/ */
/* 16. give tags a background color */
/*     ADVANCED: make the mouse cursor change on hover to indicate that these are clickable (hover over an <a> tag to see the desired effect) */
.tag {    

}

/* 17. set the font size for each size of tag */
.tag.xsmall {

}

.tag.small {

}

.tag.medium {

}

.tag.large {

}

